*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.home-navbar{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.home-logo{
    height: 100%;
}

.home-middle a{
    font-size: 35px;
    text-decoration: none;
    color: black;
    padding: 0 20px;

}

.home-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.home-right a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.home-vertical-slash{
    font-size: 55px;
}

.p-8{
    padding: 0 8px;
}

.home-swiper{
    width: 100%;
    height: 1000px;
}

.home-sale-products{
    font-size: 20px;
    margin-top: 20px;
    padding-left: 55px;
    color: black;
    border-bottom: 8px solid red;
}

#home-container-products{
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home-products{
    background-color: white;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.333), 0 10px 10px -5px rgba(0, 0, 0, 0.404);
    margin: 40px 0;
}

.home-detail-products{
    display: flex;
    flex-direction: row;
}

.home-image-products img{
    height: 200px;
    width: 180px;
    border-radius: 16px;
    margin-right: 16px;
}

.home-name-products{
    display: flex;
    flex-direction: column;
}

.home-name-products h3{
    color: rgb(100, 152, 255);
    margin-bottom: 10px;
}
.home-name-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 100%;
    height: 3px;
}

.home-name-products p{
    margin-top: 10px;
}

.home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 159, 123);
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.home-button:hover {
    opacity: 0.9;
}

#home-container-products-2{
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home-products-2{
    background-color: white;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.333), 0 10px 10px -5px rgba(0, 0, 0, 0.404);
    margin: 40px 0;
}

.home-text-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}